* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container{
  width: 90%;
  margin: 0 auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 90px;
}
.nav p {
  font-weight: 700;
  font-size: 20px;
}
.nav-menu li{
  display: inline-block;
  margin: 0 10px;
}
.nav-menu a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.banner {
  margin: 50px 0;
}
.banner img{
  width: 100%;
}
.content{
  padding: 10px 90px;
  margin: 20px 0;
}
.content-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px 0 0 10px;
  border: 1px solid #E2E2E2;
}
.content-section--title {
  align-self: center;
  padding: 20px;
}
.content-section--title h2 {
  font-size: 30px;
  font-weight: 700;
}
.content-section--title p {
  font-size: 14px;
  font-weight: 400;
  margin: 15px 0;
}
.date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date p {
  font-size: 12px;
  font-weight: 400;
}
.date span {
  font-size: 12px;
  font-weight: 800;
}
.content-section--img img {
  width: 100%;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 30px 0;
  gap: 20px;
  /* padding: 10px 90px; */
}
.card-item {
  border: 1px solid #E2E2E2;
}
.card-item .card-item--image img{
  width: 100%;
  height: 100%;
}
.item-title {
  padding: 10px;
}
.item-title h1{
  font-weight: 700;
}
.item-title h3{
  font-size: 14px;
  font-weight: 400;
  margin: 15px 0;
}
.content-highlight{
  margin: 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid #E2E2E2;
}
.content-highlight--title {
  padding: 30px;
  align-items: center;
  background-color: #cccccc4d;
}
.content-highlight--title h2 {
  font-size: 40px;
  font-weight: 700;
}
.content-highlight--title p {
  font-size: 16px;
  font-weight: 400;
  margin: 15px 0;
}
.content-highlight--img img {
  width: 100%;
}
.content-button{
  margin: 30px 0;
  display: flex;
  justify-content: flex-end;
}
.content-button button {
  background-color: #6B46C1;
  border-radius: 6px;
  padding: 16px;
  color: white;
  border: none;
  font-size: 16px;
}
.content-button img{
  width: 300px;
}
.border{
  width: 100%;
  border-bottom: 2px solid #ccc;
}
.footer{
  display: flex;
  justify-content: space-between;
  padding: 10px 90px;
}
.footer-text p{
  margin: 30px 0;
  font-size: 20px;
}
.footer-icon{
  display: flex;
}
.footer-icon img{
  width: 20px;
  height: 20px;
  margin:30px 20px
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em){
  .nav, .footer, .content {
    padding: 0;
  }
  
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .card-item {
    margin: 10px;
    /* padding: 2px; */
  }
  .card-item .item-title{
    padding: 10px;
  }
  .content-button button {
    margin: auto;
  }
  .footer-icon img{
    width: 20px;
    height: 20px;
    margin:30px 10px
  }
}

/* Mobile */
@media (max-width: 46.1875em){
  .container {
    width: 100%;
  }
  .nav {
    padding: 0;
  }
  .content{
    padding: 0;
    margin: 20px 0;
  }
  .content-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }
  .content-section--title {
    align-self: center;
    padding: 10px;
  }
  .content-section--title h2 {
    font-size: 20px;
    font-weight: 700;
  }
  .content-section--title p {
    font-size: 12px;
    font-weight: 400;
    margin: 15px 0;
  }
  .date {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .date p {
    font-size: 12px;
    font-weight: 400;
  }
  .date span {
    font-size: 12px;
    font-weight: 800;
  }
  .content-section--img img {
    width: 100%;
    height: 100%;
  }
  .card {
    display: block;
    margin: 30px 0;
    gap: 20px;
    /* padding: 10px 90px; */
  }
  .card-item {
    margin: 20px 0;
  }
  .item-title h1 {
    font-size: 20px;
  }
  .item-title h3{
    font-size: 12px;
    margin: 10px 0;
  }

  .content-highlight{
    margin: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #E2E2E2;
  }
  .content-highlight--title {
    padding: 20px;
   
  }
  .content-highlight--title h2 {
    font-size: 20px;
  }
  .content-highlight--title p {
    font-size: 12px;
  }
  .content-highlight--img img {
    width: 100%;
    height: 100%;
  }
  .content-button button {
    margin: auto;
  }
  .footer{
    display: block;
    
  }
 
}